{% load static %}
<div class="flex flex-col w-full shadow-[0px_4px_4px_0px_#0000001A] bg-white mt-3 p-4 rounded-2xl">
    <div class="flex flex-col w-full border-b-3 border-[#EFEFEF] pb-3">
        <div class="flex justify-between">
            <text class="font-bold text-2xl">Документы</text>

            <a href="{% url 'news:documents' %}" class="w-9 h-fit">
                <img src="{% static 'img/_src/icons/Frame 58 (6).png' %}">
            </a>
        </div>
        <text class="font-medium max-md:text-sm">Акты, журналы, приказы, инструкции</text>
    </div>
    {% for document in documents %}
        <div class="flex flex-col w-full p-3 border-b-1 border-[#EFEFEF] gap-[10px]">
            {% if document.is_new %}
                <div class="flex justify-center items-center text-[10px] text-white rounded-[16px] bg-[#DF3131] py-1 px-2 w-fit h-4">Новое</div>
            {% endif %}
            <div class="flex flex-row gap-[10px]">
                <img class="w-6 h-6 mt-1" src="{% static 'img/_src/icons/article.svg' %}" alt="document">
                <text class="font-bold">{{ document.title }}</text>
            </div>
            <div class="text-sm text-[#444444] flex justify-end">{{document.created_date|date:"d.m.Y"}}</div>
        </div>
    {% endfor %}
</div>