{% load static %}
<div class="flex flex-col w-full h-auto shadow-[0px_4px_4px_0px_#0000001A] bg-white mt-3 p-4 rounded-[16px]">
    <div class="flex flex-col w-full border-b-3 border-[#EFEFEF] pb-3">
        <div class="flex justify-between">
            <text class="font-[700] text-[24px]">Законодательство</text>

            <a href="laws" class="w-[36px] h-fit">
                <img src="{% static 'img/_src/icons/Frame 58 (6).png' %}">
            </a>
        </div>
        <text class="font-medium max-md:text-sm">Актуальные законы, правила <br> и нормативы по ТБ в РК
        </text>
    </div>
    {% for law in laws|slice:":1" %}
        <div class="flex flex-col w-full gap-[10px] p-3 border-b-1 border-[#EFEFEF]">
           {% if law.is_new %}
            <div class="flex justify-center items-center text-[10px] text-white rounded-[16px] bg-[#DF3131] py-1 px-2 w-fit h-4">Новое</div>
            {% endif %}
            <div class="flex flex-col">
                <div class="flex flex-row justify-start items-center">
                    <img class="w-[24px] h-[24px] mt-1 self-start" src="{% static 'img/_src/icons/article.svg' %}">
                    <text class="font-[700] text-[16px] ml-[9px]">{{ law.title }}</text>
                </div>
                <text class="text-[14px] leading-4.5 pt-2">{{ law.description }}</text>
            </div>
            <div class="text-sm text-[#444444] flex justify-end">{{ law.created_date|date:"d.m.Y" }}</div>
            {% if law.number %}
                <div class="text-sm text-[#444444] flex justify-end">Номер приказа: №{{ law.number }}</div>
            {% endif %}
            <div class="text-sm text-[#ED1A39] font-medium flex w-full gap-2 flex-wrap">
                <img class="w-[24px]" src="{% static 'img/_src/icons/sell.svg' %}">
                {% for tag in law.tags.all|slice:":4" %}
                    <div class="flex justify-center items-center font-[400] py-2 px-4 text-[14px] text-[#444444] bg-[#EAF4FF] rounded-[8px]">{{ tag.title }}</div>
                {% empty %}
                    <div class="text-gray-400">Без категории</div>
                {% endfor %}
            </div>
        </div>
        <div class="flex flex-col w-full h-auto py-3 gap-2">
            <div class="flex flex-col">
                <text class="font-[700] text-[16px] ml-[9px]">Экспертный комментарий</text>
                {% for comment in law.comments.all %}
                    <div class="flex flex-row justify-start items-center pt-2 border-b-1 border-[#EFEFEF] py-3">
                        <div class="flex flex-col ml-[9px] gap-0.5">
                            <p class="font-bold text-sm">{{ comment.author_full_name }}</p>
                            <p class="text-sm text-[#444444]">
                                {{ comment.text|safe }}
                            </p>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-sm ml-[9px]">Ничего нет</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

</div>