{% load static %}
<div class="flex flex-col w-full h-auto shadow-[0px_4px_4px_0px_#0000001A] bg-white mt-3 p-4 rounded-2xl">
    <div class="flex flex-col w-full border-b-3 border-[#EFEFEF] pb-3">
        <div class="flex justify-between">
            <text class="font-bold text-2xl">Управление рисками</text>

            <a href="{% url 'news:risk_management' %}" class="w-9 h-fit shrink-0">
                <img src="{% static 'img/_src/icons/Frame 58 (6).png' %}" alt="all">
            </a>
        </div>
        <text class="font-medium max-md:text-sm">Узнай как грамотно подходить к анализу <br> рисков в своей зоне
            ответственности.
        </text>
    </div>


    {% for risk in risks %}
        <div class="flex flex-col w-full h-auto p-3 gap-[10px] border-b-2 border-[#EFEFEF]">
            {% if risk.is_new %}
            <div class="flex justify-center items-center text-[10px] text-white rounded-[16px] bg-[#DF3131] py-1 px-2 w-fit h-4">Новое</div>
            {% endif %}
            <div class="flex flex-row justify-between w-full">
                <div class="flex flex-row justify-start items-center">
                    <img class="w-6 h-6 mt-1" src="{% static 'img/_src/icons/warning.svg' %}" alt="warning">
                    <text class="font-bold ml-[9px]">{{ risk.title }}</text>
                </div>
            </div>
        </div>
    {% endfor %}
</div>