{% load youtube_embed %}
{% load static %}
<div class="flex flex-col w-full h-auto shadow-[0px_4px_4px_0px_#0000001A] bg-white mt-3 p-4 rounded-2xl">
    <div class="flex flex-col w-full border-b-3 border-[#EFEFEF] pb-3">
        <div class="flex justify-between">
            <text class="font-bold text-2xl">Qauipmedia</text>

            <a href="{% url 'news:qauipmedia' %}" class="w-[36px] h-fit">
                <img src="{% static 'img/_src/icons/Frame 58 (6).png' %}" alt="all link">
            </a>
        </div>
        <text class="font-medium max-md:text-sm">Наш авторский видеопроект о <br> безопасности с лучшими экспертами <br>
            страны.
        </text>
    </div>
    {% for video in videos %}
    <div class="flex flex-col w-full pt-1 pb-[16px] border-b-2 border-[#EFEFEF] justify-center">
        <div class="flex flex-col gap-2 px-3 pt-3">
            <div class="h-auto w-auto">
                <div class="video-container flex justify-center ">
                    <iframe
                            class="w-full h-[222px] max-w-[366px] mt-[16px]"
                            src="{{video.file_url|youtube_embed}}"
                            title="YouTube video"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="text-[14px] pr-2 text-[#444444] flex justify-end">{{video.valid_from|date:"d.m.Y"}}</div>
        </div>
    </div>
    {% endfor %}
</div>