{% extends "base.html" %} {% load static %} {% load i18n %} {% load today_tags %} {% block
content %}
<main>
  <section>
    <div class="container">
      <div class="wrap">
        {% include "popular_news.html" %}
        <div class="main-news">
          <div class="info-site">
            <ul class="main-news__bread-crumb">
              <li><a href="{% url 'news:index' %}">{% trans "Главная" %}</a></li>
              <li><span class="current">{% trans "Реклама" %}</span></li>
            </ul>
            <h1>{% trans "Реклама" %}</h1>
            <p>
              {% blocktrans trimmed %}По вопросам размещения рекламных и PR-материалов, условиям сотрудничества с 01.imaq.kz обращайтесь по номеру телефона: +77003969700. Или пишите на электронную почту: press@imaq.kz{% endblocktrans %}
            </p>
          </div>
        </div>
        {% include "category_news.html" %}
      </div>
    </div>
  </section>
</main>
{% endblock %}
