{% extends 'base.html' %} {% load static %} {% block content %}
    <div class="flex flex-col justify-center lg:mx-[100px] mb-6 mx-6">
        <div class="flex flex-row gap-2 max-lg:flex-col justify-center pt-3">
            <div class="flex flex-col max-w-[1312px] w-full h-fit shadow-[0px_4px_4px_0px_#0000001A] bg-white p-6 rounded-[16px]">
                <div class="flex flex-row w-full gap-6 pb-3 border-b-3 border-[#EFEFEF] items-center">
                    <a href="{% url 'news:index' %}" class="h-[29px] flex justify-center">
                        <img class="w-[36px] h-[36px] min-w-9 min-h-9" src="{% static 'img/_src/icons/Frame 115.svg' %}">
                    </a>
                    <div class="flex flex-col">
                        <text class="font-[700] text-[24px]">Чек листы</text>
                        <text class="font-[500] text-[16px]">Важные чек листы для каждого</text>
                    </div>
                </div>
                <div class="flex items-center py-6 gap-6">
                    <div class="hidden lg:flex gap-1">
                        <a href="?"
                           class="
                                  flex items-center gap-2 px-3 py-[7.5px] rounded-xl
                                  {% if not request.GET.sort and not request.GET.search %}
                                      bg-[#AF1E2A]
                                  {% else %}
                                      hover:bg-gray-100
                                  {% endif %}
                               "
                        >
                            <text class="
                                    text-xs text-nowrap
                                    {% if not request.GET.sort and not request.GET.search %}
                                        bg-[#AF1E2A] text-white
                                    {% else %}
                                        text-[#AF1E2A]
                                    {% endif %}
                                ">
                                Показать все
                            </text>
                            <div class="w-6 h-6">
                                {% if not request.GET.sort and not request.GET.search %}
                                    <img src="{% static 'img/_src/icons/arrow_drop_down_white.svg' %}"
                                         alt="show all"/>
                                {% else %}
                                    <img src="{% static 'img/_src/icons/arrow_drop_down.svg' %}" alt="show all"/>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    <form method="get" class="w-full">
                        <label>
                            <input
                                    onchange="this.form.submit()"
                                    type="text"
                                    name="search"
                                    value="{{ request.GET.search }}"
                                    placeholder="Не видишь нужный чек лист? Попробуй найти через ключевые слова поиска..."
                                    class="h-[39px] font-[600] text-[12px] text-black bg-[#F5F5F5] rounded-[16px] placeholder:text-[12px] px-3 py-2 focus:outline-none focus:ring-0 placeholder:text-[#1E1E1E] w-full"
                            />
                        </label>
                    </form>
                </div>

                <div class=" flex overflow-x-auto w-full mb-6">
                    {% for key, label in categories %}
                        <a href="?category={{ key }}"

                           class="shrink-0 tab-button text-[12px] p-[10px] font-medium pb-2 border-b-3 {% if not selected_category and forloop.first or selected_category == key %}border-red-600 text-red-600{% else %}border-transparent text-gray-600{% endif %}"
                        >
                            {{ label }}
                        </a>
                    {% endfor %}
                </div>

                <div class="flex flex-col w-full h-auto p-2">
                    <div class="main-news flex flex-col gap-4 pt-[10px]">
                        {% for category_name, checklists in grouped_checklists.items %}
                            <div class="flex flex-col">
                                <div class="flex flex-row justify-between mb-3">
                                    <h2 class="font-bold text-2xl">{{ category_name }}</h2>
                                </div>
                                <div class="flex flex-col flex-wrap">
                                    {% for checklist in checklists %}
                                        <div class="flex flex-col items-center h-auto px-3 py-3 pb-6 border-[#EFEFEF] border-b-1 gap-[10px]">
                                            {% if checklist.is_new %}
                                                <div class="flex justify-center items-center self-start text-[10px] text-white rounded-[16px] bg-[#DF3131] py-1 px-2 w-fit h-4">Новое</div>
                                            {% endif %}
                                            <div class="flex flex-row w-full justify-between">
                                                <p class="text-[#3F8CFF]">{{ checklist.get_file_extension }}</p>
                                                <p>{{ checklist.valid_from|date:"d.m.Y" }}</p>
                                            </div>
                                            <div class="flex flex-col gap-[10px] w-full justify-start">
                                                <div class="flex item-center gap-[10px]">
                                                    <p class="font-bold text-[20px] w-full">{{ checklist.title }}</p>
                                                    <div class="flex gap-3 justify-end items-center">
                                                        <a href="
                                                        {% if checklist.file_url %}
                                                            {{ checklist.file_url }}
                                                        {% elif checklist.file %}
                                                            {{ checklist.file.url }}
                                                        {% endif %}
                                                    "
                                                           class="cursor-pointer bg-[#F5F5F5] rounded-lg flex items-center justify-center p-[6px] max-w-[36px] min-w-[36px] min-h-[36px] max-h-[36px]">
                                                            <img src="{% static 'img/_src/icons/visibility.svg' %}"
                                                                 alt="details"/>
                                                        </a>
                                                        <a href="
                                                        {% if checklist.file_url %}
                                                            {{ checklist.file_url }}
                                                        {% elif checklist.file %}
                                                            {{ checklist.file.url }}
                                                        {% endif %}
                                                    "
                                                           class="cursor-pointer bg-[#F5F5F5] rounded-lg flex items-center justify-center p-[6px] max-w-[36px] min-w-[36px] min-h-[36px] max-h-[36px]">
                                                            <img src="{% static 'img/_src/icons/download.svg' %}"
                                                                 alt="download"/>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    {% empty %}
                                        <p>Ничего нет</p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="flex flex-col lg:max-w-[400px] gap-2 w-full">
                <div class="flex flex-col w-full h-auto shadow-[0px_4px_4px_0px_#0000001A] bg-white p-6 rounded-[16px]">
                    <div class="flex flex-row justify-between w-full gap-[64px] border-b-3 border-[#EFEFEF] font-[700] text-[24px] pb-5">
                        Последние обновления
                    </div>
                    <div class="flex flex-col w-full h-auto">
                        {% for checklist in side_checklists %}
                            <div class="flex flex-col items-start justify-between px-3 py-3 pb-6 border-[#EFEFEF] border-b-1 gap-[10px]">
                                {% if checklist.is_new %}
                                    <div class="flex justify-center items-center text-[10px] text-white rounded-[16px] bg-[#DF3131] py-1 px-2 w-fit h-4">Новое</div>
                                {% endif %}
                                <div class="flex flex-row w-full justify-between">
                                    <p class="text-[#3F8CFF]">{{ checklist.get_file_extension }}</p>
                                    <p>{{ checklist.valid_from|date:"d.m.Y" }}</p>
                                </div>
                                <div class="flex flex-col gap-[10px] w-full justify-start">
                                    <div class="flex item-center justify-between gap-[10px]">
                                        <text class="font-bold text-[20px]">{{ checklist.title }}</text>
                                        <div class="flex gap-3 justify-end items-center">
                                            <a href="
                                                {% if checklist.file_url %}
                                                    {{ checklist.file_url }}
                                                {% elif checklist.file %}
                                                    {{ checklist.file.url }}
                                                {% endif %}
                                            "
                                               class="cursor-pointer bg-[#F5F5F5] rounded-lg flex items-center justify-center p-[6px] max-w-[36px] min-w-[36px] min-h-[36px] max-h-[36px]">
                                                <img src="{% static 'img/_src/icons/visibility.svg' %}" alt="details"/>
                                            </a>
                                            <a href="
                                                {% if checklist.file_url %}
                                                    {{ checklist.file_url }}
                                                {% elif checklist.file %}
                                                    {{ checklist.file.url }}
                                                {% endif %}
                                            "
                                               class="cursor-pointer bg-[#F5F5F5] rounded-lg flex items-center justify-center p-[6px] max-w-[36px] min-w-[36px] min-h-[36px] max-h-[36px]">
                                                <img src="{% static 'img/_src/icons/download.svg' %}" alt="download"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
