{% extends "base.html" %}
{% load new_details_modal %}
{% load static %}
{% block meta_data %}
    <title>Портал по охране труда и технике безопасности в Казахстане.</title>
    <meta name="description"
          content="Инструкции, законы, новости и готовые решения - всё, что нужно специалисту ТБ.
Только проверенная информация, умный поиск и ежедневные обновления - чтобы работать уверенно и безопасно."/>
    <meta property="og:image" content="{% static 'img/@1x/preview.jpg' %}"/>
    <link rel="canonical" href="https://01.imaq.kz/"/>
    <script type="application/ld+json">

        {
            "@context":"http://schema.org",
            "@type":"Organization",
            "name":"01.imaq.kz",

            
            "url":"https://01.imaq.kz/",
            "logo":"https://01.imaq.kz/static/img/logo_img.svg" 


        }
    </script>
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "url": "https://01.imaq.kz/",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "https://01.imaq.kz/",
            "query-input": "required name=search_term_string"
          }
        }
    </script>
{% endblock meta_data %}

{% block content %}
    <main>
        <section>
            <div class="hidden lg:flex flex-col justify-center mx-[100px]">
                <div class="flex flex-col w-full justify-center">
                    <!-- Мэйн-блок и мини-блоки с навигацией -->
                    {% include "includes/main/index_blocks.html" %}
                    <!-- Инструктажи -->
                    <div class="flex flex-row gap-2 pt-[5px] justify-between">
                        <div class="flex flex-col max-w-[438px] w-full">
                            <!-- Инструктажи -->
                            {% include "includes/main/index_briefing.html" %}
                            <!-- Документы -->
                            {% include "includes/main/index_documents.html" %}
                            <!-- Управление рисками -->
                            {% include "includes/main/index_risks.html" %}

                        </div>
                        <div class="flex flex-col w-full">
                            <!-- Новости -->
                            {% include "includes/main/index_news.html" %}
                            <!-- Аналитика -->
                            {% include "includes/main/index_analytics.html" %}
                        </div>
                        <div class="flex flex-col max-w-[464px] w-full">
                            <!-- Календарь событий -->
                            {% include "includes/main/calendar.html" %}
                            <!-- Кейсы автоматизации -->
                            {% include "includes/main/index_autoKeys.html" %}
                            <!-- Законодательство -->
                            {% include "includes/main/index_law.html" %}
                            <!-- Чек-листы -->
                            {% include "includes/main/index_checklists.html" %}
                            <!-- Вопросы и ответы -->
                            {% include "includes/main/index_questions.html" %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col lg:hidden justify-center px-6 bg-white pb-4">
                <!-- Мэйн-блок и мини-блоки с навигацией -->
                {% include "includes/main/index_blocks.html" %}
                <!-- Новости -->
                {% include "includes/main/index_news.html" %}
                <!-- Аналитика -->
                {% include "includes/main/index_analytics.html" %}
                <!-- Инструктажи -->
                {% include "includes/main/index_briefing.html" %}
                <!-- Документы -->
                {% include "includes/main/index_documents.html" %}
                <!-- Управление рисками -->
                {% include "includes/main/index_risks.html" %}
                <!-- Календарь событий -->
                {% include "includes/main/calendar.html" %}
                <!-- Кейсы автоматизации -->
                {% include "includes/main/index_autoKeys.html" %}
                <!-- Законодательство -->
                {% include "includes/main/index_law.html" %}
                <!-- Чек-листы -->
                {% include "includes/main/index_checklists.html" %}
                <!-- Вопросы и ответы -->
                {% include "includes/main/index_questions.html" %}
            </div>
        </section>
    </main>
{% endblock %}

