{% extends "base.html" %} {% load static %} {% load today_tags %} {% block
content %}
<main>
  <section>
    <div class="container">
      <div class="wrap">
        {% include "popular_news.html" %}
        <div class="main-news">
          <div class="info-site info-site__rules">
            <ul class="main-news__bread-crumb">
              <li><a href="{% url 'news:index' %}">Главная</a></li>
              <li>
                <span class="current">Правила использования материалов</span>
              </li>
            </ul>
            <h1>Правила использования материалов</h1>
            <ol>
              <li>
                <p>
                  Редакции 01.imaq.kz принадлежат все права в отношении
                  материалов, опубликованных на сайте 01.imaq.kz, за исключением
                  заимствованных в других источниках материалов, которые были
                  перепечатаны на сайте с указанием их правообладателя.
                </p>
              </li>
              <li>
                <p>
                  Редакция 01.imaq.kz разрешает перепечатку опубликованных на
                  сайте материалов, права на которые принадлежат редакции.
                  Данные материалы могут быть воспроизведены в любых СМИ, на
                  серверах сети Интернет при условии обязательного указания
                  активной гиперссылки на 01.imaq.kz.
                </p>
              </li>
              <li>
                <p>
                  Использование материалов сайта 01.imaq.kz посетителем
                  означает, что он принимает и обязуется соблюдать настоящие
                  правила. Осуществляя переход по ссылкам на сторонние сайты,
                  посетитель берет на себя всю ответственность за последствия.
                  Посетители, неправомерно использовавшие материалы сайта
                  01.imaq.kz, несут ответственность самостоятельно в
                  соответствии с законодательством РК.
                </p>
              </li>
              <li>
                <p>
                  Редакция сайта 01.imaq.kz оставляет за собой право на защиту
                  своих законных интересов и прав любыми законными способами, в
                  том числе в судебном порядке.
                </p>
              </li>
              <li>
                <p>
                  Правила вступают в силу с момента их опубликования на
                  интернет-ресурсе 01.imaq.kz с указанием актуальной даты.
                </p>
              </li>
            </ol>
            <div class="info-side__date">01.04.2023 г.</div>
          </div>
        </div>
        {% include "category_news.html" %}
      </div>
    </div>
  </section>
</main>
{% endblock %}
