{% extends 'base.html' %}
{% load youtube_embed %} {% load static %} {% block content %}
    <div class="flex flex-col flex-col justify-center lg:mx-[100px] mb-6 mx-6">
        <div class="flex flex-row max-lg:flex-col gap-2 justify-center pt-3">
            <div class="flex flex-col max-w-[1312px] w-full h-auto shadow-[0px_4px_4px_0px_#0000001A] bg-white p-6 rounded-[16px]">
                <div class="flex flex-row w-full gap-6 pb-3 border-b-3 border-[#EFEFEF] items-center">
                    <a href="{% url 'news:index' %}" class="h-[29px] flex justify-center">
                        <img class="w-[36px] h-[36px] min-w-9 min-h-9" src="{% static 'img/_src/icons/Frame 115.svg' %}">
                    </a>
                    <div class="flex flex-col">
                        <text class="font-[700] text-[24px]">Обучение</text>
                        <text class="font-[500] text-[16px]">Расскажем, покажем, объясним.</text>
                    </div>
                </div>
                <div class="flex items-center py-6 gap-6">
                    <div class="hidden lg:flex gap-1">
                        <a href="?"
                           class="
                                  flex items-center gap-2 px-3 py-[7.5px] rounded-xl
                                  {% if not request.GET.sort and not request.GET.search %}
                                      bg-[#AF1E2A]
                                  {% else %}
                                      hover:bg-gray-100
                                  {% endif %}
                               "
                        >
                            <text class="
                                    text-xs text-nowrap
                                    {% if not request.GET.sort and not request.GET.search %}
                                        bg-[#AF1E2A] text-white
                                    {% else %}
                                        text-[#AF1E2A]
                                    {% endif %}
                                ">
                                Показать все
                            </text>
                            <div class="w-6 h-6">
                                {% if not request.GET.sort and not request.GET.search %}
                                    <img src="{% static 'img/_src/icons/arrow_drop_down_white.svg' %}"
                                         alt="show all"/>
                                {% else %}
                                    <img src="{% static 'img/_src/icons/arrow_drop_down.svg' %}" alt="show all"/>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    <form method="get" class="w-full">
                        <label>
                            <input
                                    onchange="this.form.submit()"
                                    type="text"
                                    name="search"
                                    value="{{ request.GET.search }}"
                                    placeholder="Быстрый поиск информации по ключевым словам..."
                                    class="h-[39px] font-[600] text-[12px] text-black bg-[#F5F5F5] rounded-[16px] placeholder:text-[12px] px-3 py-2 focus:outline-none focus:ring-0 placeholder:text-[#1E1E1E] w-full"
                            />
                        </label>
                    </form>
                </div>
                <div class=" flex mb-6 overflow-x-auto w-full">
                    <a href="{% url 'news:study' %}"
                       class="shrink-0 tab-button text-[12px] p-[10px] font-medium pb-2 border-b-3
                           {% if not selected_category %}
                               border-red-600 text-red-600
                           {% else %}
                               border-transparent text-gray-600
                           {% endif %}">
                        Все
                    </a>
                    {% for key, label in categories %}
                        <a href="?category={{ key }}"
                           class="shrink-0 tab-button text-[12px] p-[10px] font-medium pb-2 border-b-3
                               {% if selected_category == key %}
                                   border-red-600 text-red-600
                               {% else %}
                                   border-transparent text-gray-600
                               {% endif %}">
                            {{ label }}
                        </a>
                    {% endfor %}
                </div>
                <div class="flex flex-col w-full h-auto ">
                    <div class="main-news flex flex-col gap-4 pt-[10px]">
                        {% for category in categorized_study %}
                            {% if category.study %}
                                <div class="flex flex-col">
                                    <div class="flex flex-row justify-between mb-3">
                                        <h2 class="font-bold text-2xl">{{ category.title }}</h2>
                                    </div>
                                    <div class="lg:grid lg:grid-cols-3 max-lg:flex max-lg:flex-wrap max-lg:justify-evenly">
                                        {% for study in category.study %}
                                            <div class="max-w-[415px] w-full flex flex-col gap-[10px] sm:px-3 py-3 pb-6">
                                                {% if study.file_url %}
                                                    <iframe
                                                            class="w-full h-auto"
                                                            src="{{ study.file_url|youtube_embed }}"
                                                            allowfullscreen
                                                    ></iframe>
                                                {% elif study.file %}
                                                    <video
                                                            controls
                                                            class="w-full h-auto"
                                                            src="{{ study.file.url }}"
                                                            preload="metadata"
                                                    ></video>
                                                {% endif %}

                                                <div class="flex flex-col items-start justify-start gap-[10px]">
                                                    <text class="font-bold text-[20px]">{{ study.title }}</text>
                                                    {% if study.description %}
                                                        <text class="text-sm text-[#787878]">{{ study.description }}</text>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="flex flex-col lg:max-w-[400px] gap-2">
                <div class="flex flex-col w-full h-auto shadow-[0px_4px_4px_0px_#0000001A] bg-white p-6 rounded-[16px]">
                    <div class="flex flex-row justify-between w-full gap-[64px] border-b-2 border-[#EFEFEF] font-[700] text-[24px]">
                        Последние обновления в разделе обучения
                    </div>
                    <div class="main-news flex flex-col gap-4 pt-[10px]">
                        <div class="lg:flex lg:flex-col lg:flex-wrap w-full max-lg:flex max-lg:flex-wrap max-lg:justify-evenly">
                            {% for video in side_study|slice:":3" %}
                                <div class="max-w-[415px] w-full flex flex-col gap-[10px] sm:px-3 py-3 pb-6">
                                    <div class="flex justify-center items-center text-[10px] text-white rounded-[16px] bg-[#DF3131] py-1 px-2 w-fit h-4">
                                        Новое
                                    </div>
                                    {% if video.file_url %}
                                        <iframe
                                                class="w-full h-auto"
                                                src="{{ video.file_url|youtube_embed }}"
                                                allowfullscreen
                                        ></iframe>
                                    {% elif video.file %}
                                        <video
                                                controls
                                                class="w-full h-auto"
                                                src="{{ study.file.url }}"
                                                preload="metadata"
                                        ></video>
                                    {% endif %}
                                    <div class="flex flex-col items-start justify-start gap-[10px]">
                                        <text class="font-bold text-[20px]">{{ video.title }}</text>
                                        {% if study.description %}
                                            <text class="text-sm text-[#787878]">{{ video.description }}</text>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
