{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="flex flex-col justify-center mx-6 lg:mx-[100px] mb-6">
        <div class="flex flex-col lg:flex-row gap-2 justify-center pt-3">
            <div class="flex flex-col max-w-[1312px] w-full h-auto shadow-[0px_4px_4px_0px_#0000001A] bg-white p-6 rounded-[16px]">
                <div class="flex flex-row w-full gap-6 pb-3 border-b-3 border-[#EFEFEF] items-center">
                    <a href="{% url 'news:index' %}" class="h-[29px] flex justify-center">
                        <img class="w-[36px] h-[36px] min-w-9 min-h-9"
                             src="{% static 'img/_src/icons/Frame 115.svg' %}" alt="to main">
                    </a>
                    <div class="flex flex-col">
                        <text class="font-[700] text-[24px]">Вебинары</text>
                        <text class="font-[500] text-[16px]">Много можно узнать у нас тут, лайфхаки, советы, и
                            интересные истории
                        </text>
                    </div>
                </div>
                <div class="flex items-center py-6 gap-6">
                    <div class="flex gap-1">
                        <a href="?"
                           class="
                                  flex items-center gap-2 px-3 py-[7.5px] rounded-xl
                                  {% if not request.GET.sort and not request.GET.search %}
                                      bg-[#AF1E2A]
                                  {% else %}
                                      hover:bg-gray-100
                                  {% endif %}
                               "
                        >
                            <text class="
                                    text-xs text-nowrap
                                    {% if not request.GET.sort and not request.GET.search %}
                                        bg-[#AF1E2A] text-white
                                    {% else %}
                                        text-[#AF1E2A]
                                    {% endif %}
                                ">
                                Показать все
                            </text>
                            <div class="w-6 h-6">
                                {% if not request.GET.sort and not request.GET.search %}
                                    <img src="{% static 'img/_src/icons/arrow_drop_down_white.svg' %}"
                                         alt="show all"/>
                                {% else %}
                                    <img src="{% static 'img/_src/icons/arrow_drop_down.svg' %}" alt="show all"/>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    <form method="get" class="w-full">
                        <label>
                            <input
                                    onchange="this.form.submit()"
                                    type="text"
                                    name="search"
                                    value="{{ request.GET.search }}"
                                    placeholder="Быстрый поиск информации по ключевым словам..."
                                    class="h-[39px] font-[600] text-[12px] text-black bg-[#F5F5F5] rounded-[16px] placeholder:text-[12px] px-3 py-2 focus:outline-none focus:ring-0 placeholder:text-[#1E1E1E] w-full"
                            />
                        </label>
                    </form>
                </div>
                <div class="flex mb-6">
                    <a href="?category=all"
                       class="tab-button text-[12px] p-[10px] font-medium pb-2 border-b-3 {% if category_filter == 'all' or not category_filter %}border-red-600 text-red-600{% else %}border-transparent text-gray-600{% endif %}">Все</a>
                    <a href="?category=live"
                       class="tab-button text-[12px] p-[10px] font-medium pb-2 border-b-3 {% if category_filter == 'live' %}border-red-600 text-red-600{% else %}border-transparent text-gray-600{% endif %}">Сейчас
                        идет</a>
                    <a href="?category=soon"
                       class="tab-button text-[12px] p-[10px] font-medium pb-2 border-b-3 {% if category_filter == 'soon' %}border-red-600 text-red-600{% else %}border-transparent text-gray-600{% endif %}">Ближайшие
                        вебинары</a>

                </div>
                {% if category_filter == 'live' or category_filter == 'all' or not category_filter %}
                    {% if live_webinars %}
                        <div class="flex flex-col w-full h-auto">
                            <div class="main-news flex flex-col gap-4 pt-[10px]">
                                <div class="flex flex-col">
                                    <div class="flex flex-row justify-between mb-3">
                                        <h2 class="font-bold text-2xl">Сейчас идет</h2>
                                    </div>
                                    <div class="flex flex-col lg:grid lg:grid-cols-2">
                                        {% for webinar in live_webinars %}
                                            {% if webinar.url %}
                                                <a href="{{ webinar.url }}">
                                                    {% include 'includes/webinars/card.html' %}
                                                </a>
                                            {% else %}
                                                {% include 'includes/webinars/card.html' %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

                {% if category_filter == 'soon' or category_filter == 'all' or not category_filter %}
                    {% if soon_webinars %}
                        <div class="flex flex-col w-full h-auto">
                            <div class="main-news flex flex-col gap-4 pt-[10px]">
                                <div class="flex flex-col">
                                    <div class="flex flex-row justify-between mb-3">
                                        <h2 class="font-bold text-2xl">Ближайшие вебинары (анонс)</h2>
                                    </div>
                                    <div class="flex flex-col lg:grid lg:grid-cols-2">
                                        {% for webinar in soon_webinars %}
                                            {% if webinar.url %}
                                                <a href="{{ webinar.url }}">
                                                    {% include 'includes/webinars/card.html' %}
                                                </a>
                                            {% else %}
                                                {% include 'includes/webinars/card.html' %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                {% if category_filter == 'all' or not category_filter %}
                    {% if webinars %}
                        <div class="flex flex-col w-full h-auto">
                            <div class="main-news flex flex-col gap-4 pt-[10px]">
                                <div class="flex flex-col">
                                    <div class="flex flex-row justify-between mb-3">
                                        <h2 class="font-bold text-2xl">Все вебинары</h2>
                                    </div>
                                    <div class="flex flex-col lg:grid lg:grid-cols-2">
                                        {% for webinar in webinars %}
                                            {% if webinar.url %}
                                                <a href="{{ webinar.url }}">
                                                    {% include 'includes/webinars/card.html' %}
                                                </a>
                                            {% else %}
                                                {% include 'includes/webinars/card.html' %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="flex flex-col lg:max-w-[400px] gap-2">
                <div class="flex flex-col w-full h-auto shadow-[0px_4px_4px_0px_#0000001A] bg-white p-6 rounded-[16px]">
                    <div class="flex flex-row justify-between w-full gap-[64px] h-[86px] border-b-2 border-[#EFEFEF] font-[700] text-[24px]">
                        Последние обновления в разделе обучения
                    </div>
                    <div class="main-news flex flex-col gap-4 pt-[10px]">
                        <div class="flex flex-col flex-wrap w-full">
                            {% for webinar in last_education_webinars %}
                                {% if webinar.url %}
                                    <a href="{{ webinar.url }}">
                                        {% include 'includes/webinars/card.html' %}
                                    </a>
                                {% else %}
                                    {% include 'includes/webinars/card.html' %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
