{% load static %}
{% load i18n %}
<!-- Modal Overlay -->
<div
        id="authModal"
        class="fixed inset-0 z-50 hidden items-start justify-center bg-[#1E1E1EBF]/75 pt-[94px] max-lg:mx-[30px]"
        onclick="closeModal('authModal')"
>
    <!-- Modal Container -->
    <div class="bg-white rounded-2xl w-full max-w-md p-6 shadow-xl text-sm" onclick="event.stopPropagation()">
        <!-- Header -->
        <div class="flex flex-col border-b-3 border-b-[#F5F5F5] gap-1 mb-6">
            <h2 class="text-2xl font-bold mb-1">{% trans 'Войти' %}</h2>
            <p class="font-medium mb-3">{% trans 'Введите логин и пароль, чтобы войти на портал' %}</p>
        </div>
        <form method="POST" action="{% url 'users:login' %}">
            {% csrf_token %}

            <div class="flex gap-[10px]">
                <img src="{% static 'img/16/email.svg' %}" alt=""/>
                <label class="w-full">
                    <input name="username" type="email" placeholder="{% trans 'Введите логин' %}"
                           class="w-full py-2 border-b border-[#EFEFEF] focus:outline-none focus:font-bold text-sm"/>
                </label>
            </div>
            <!-- Password -->
            <div class="flex gap-[10px]">
                <img src="{% static 'img/16/key.svg' %}" alt="profile"/>
                <label class="w-full">
                    <input name="password" type="password" placeholder="{% trans 'Введите пароль' %}"
                           class="w-full py-2 border-b border-[#EFEFEF] focus:outline-none focus:font-bold text-sm"/>
                </label>
            </div>

            <div class="flex flex-col gap-2 mt-8">
                <button
                        type="submit"
                        class="w-full bg-red-600 hover:bg-red-700 text-white font-semibold rounded-xl py-3"
                >
                    {% trans 'Войти' %}
                </button>

                <button
                        type="button"
                        onclick="openModal('registrationModal')"
                        class="w-full border-1 border-red-600 hover:border-red-700 text-red-600 hover:text-red-700 font-semibold rounded-xl py-3"
                >
                    {% trans 'Регистрация' %}
                </button>
            </div>
        </form>

        <div class="flex flex-col gap-3 mt-3 text-center">
            <button type="button" class="cursor-pointer"
                    onclick="closeModal('authModal'); openModal('forgotPassword')">{% trans 'Забыли пароль?' %}
            </button>
            <a href="/" class="">{% trans 'Вернуться на главную' %}</a>
        </div>
    </div>
</div>

<div
        id="registrationModal"
        class="fixed inset-0 z-50 hidden items-start justify-center bg-[#1E1E1EBF]/75 pt-[94px] max-lg:mx-[30px]"
        onclick="closeModal('registrationModal')"
>
    <!-- Modal Container -->
    <div class="bg-white rounded-2xl w-full max-w-md p-6 shadow-xl text-sm" onclick="event.stopPropagation()">
        <!-- Header -->
        <div class="flex flex-col border-b-3 border-b-[#F5F5F5] gap-1 mb-6">
            <h2 class="text-2xl font-bold mb-1">{% trans 'Регистрация' %}</h2>
            <p class="font-medium mb-3">{% trans 'Введите контактные данные, чтобы получить бесплатный доступ' %}</p>
        </div>
        <form method="POST" action="{% url 'users:register' %}" class="space-y-4">
            {% csrf_token %}

            <!-- Full Name -->
            <div class="flex gap-[10px]">
                <img src="{% static 'img/16/profile.svg' %}" alt="profile"/>
                <label class="w-full">
                    <input name="full_name" placeholder="{% trans 'Турумов Алдияр Каерканович' %}"
                           class="w-full py-2 border-b border-[#EFEFEF] focus:outline-none focus:font-bold text-sm"/>
                </label>
            </div>
            <!-- Position -->
            <div class="flex gap-[10px]">
                <img src="{% static 'img/16/position.svg' %}" alt="profile"/>
                <label class="w-full">
                    <input name="position" placeholder="{% trans 'Ваша должность' %}"
                           class="w-full py-2 border-b border-[#EFEFEF] focus:outline-none focus:font-bold text-sm"/>
                </label>
            </div>
            <!-- Phone -->
            <div class="flex gap-[10px]">
                <img src="{% static 'img/16/phone.svg' %}" alt="profile"/>
                <label class="w-full">
                    <input name="phone" placeholder="{% trans 'Телефон' %}" pattern="^[0-9()+\- ]+$"
                           class="w-full py-2 border-b border-[#EFEFEF] focus:outline-none focus:font-bold text-sm"/>
                </label>
            </div>
            <!-- Email -->
            <div class="flex gap-[10px]">
                <img src="{% static 'img/16/email.svg' %}" alt="profile"/>
                <label class="w-full">
                    <input name="email" placeholder="Email" type="email"
                           class="w-full py-2 border-b border-[#EFEFEF] focus:outline-none focus:font-bold text-sm"/>
                </label>
            </div>
            <!-- Password -->
            <div class="flex gap-[10px]">
                <img src="{% static 'img/16/key.svg' %}" alt="profile"/>
                <label class="w-full">
                    <input name="password" placeholder="{% trans 'Введите пароль' %}" type="password"
                           class="w-full py-2 border-b border-[#EFEFEF] focus:outline-none focus:font-bold text-sm"/>
                </label>
            </div>
            <!-- Confirm Password -->
            <div class="flex gap-[10px]">
                <img src="{% static 'img/16/key.svg' %}" alt="profile"/>
                <label class="w-full">
                    <input name="confirm_password" placeholder="{% trans 'Повторите пароль' %}" type="password"
                           class="w-full py-2 border-b border-[#EFEFEF] focus:outline-none focus:font-bold text-sm"/>
                </label>
            </div>

            <!-- Submit Button -->
            <button
                    type="submit"
                    class="w-full bg-red-600 hover:bg-red-700 text-white font-semibold rounded-xl py-3"
            >
                {% trans 'Зарегистрироваться' %}
            </button>

            <!-- Link -->
            <div class="text-center pt-4">
                <a href="/" class="text-sm text-gray-500 underline">{% trans 'Вернуться на главную' %}</a>
            </div>
        </form>
    </div>
</div>

<div
        id="forgotPassword"
        class="fixed inset-0 z-50 hidden items-start justify-center bg-[#1E1E1EBF]/75 pt-[94px] max-lg:mx-[30px]"
        onclick="closeModal('forgotPassword')"
>
    <!-- Modal Container -->
    <div class="bg-white rounded-2xl w-full max-w-md p-6 shadow-xl text-sm" onclick="event.stopPropagation()">
        <!-- Header -->
        <div class="flex flex-col border-b-3 border-b-[#F5F5F5] gap-1 mb-6">
            <h2 class="text-2xl font-bold mb-1">{% trans 'Введите вашу почту, мы вышлем вам ссылку для восстановления пароля' %}</h2>
            <p class="font-medium mb-3">{% trans 'Введите логин и пароль, чтобы войти на портал' %}</p>
        </div>
        <form method="POST" action="{% url 'users:reset_password_view' %}" class="space-y-4">
            {% csrf_token %}

            <div class="flex gap-[10px]">
                <img src="{% static 'img/16/email.svg' %}" alt="profile"/>
                <label class="w-full">
                    <input name="email" type="email" placeholder="{% trans 'Введите ваш Email для восстановления пароля' %}"
                           class="w-full py-2 border-b border-[#EFEFEF] focus:outline-none focus:font-bold text-sm"/>
                </label>
            </div>

            <button
                    type="submit"
                    class="w-full bg-red-600 hover:bg-red-700 text-white font-semibold rounded-xl py-3"
            >
                {% trans 'Войти' %}
            </button>

            <button
                    onclick="closeModal('forgotPassword')"
                    class="w-full font-semibold rounded-xl py-3"
            >
                {% trans 'Отмена' %}
            </button>
        </form>
    </div>
</div>

<script>
    function closeModal(id) {
        const el = document.getElementById(id);
        if (!el) return;
        el.classList.remove('flex');
        el.classList.add('hidden');
    }

    function openModal(id) {
        const el = document.getElementById(id);
        if (!el) return;
        el.classList.remove('hidden');
        el.classList.add('flex');
    }
</script>