{% load static %}
{% load calendar_widget %}

<div class="flex flex-col gap-2 max-lg:gap-4 max-lg:p-6 lg:max-w-[400px]">
        <div class="flex flex-col bg-white lg:shadow-[0px_4px_4px_0px_#0000001A] rounded-3xl lg:p-6 h-fit max-lg:order-first gap-3">
            <p class="text-2xl font-bold border-b-3 border-b-[#F5F5F5] pb-3">Самые обсуждаемые и интересные события не упустите мероприятия</p>
            {% render_calendar calendar_year calendar_month events_by_day %}

            {% include 'includes/main/calendar_events.html' %}
            <button class="bg-[#3F8CFF] justify-center items-center text-white text-xs w-full h-[39px] rounded-[16px] font-[600]">
                Применить
            </button>
        </div>
        <div class="flex flex-col bg-white lg:shadow-[0px_4px_4px_0px_#0000001A] rounded-3xl lg:p-6 h-fit max-lg:order-first gap-3">
            <p class="text-2xl font-bold border-b-3 border-b-[#F5F5F5] pb-3">Напоминания</p>
            <button class="bg-[#3F8CFF] justify-center items-center text-white text-xs w-full h-[39px] rounded-[16px] font-[600]">
                Telegram-подписка на события
            </button>
        </div>
    </div>

<script>
    function getEventsByDate(date) {
         fetch(`{% url 'news:get_events_by_date' %}?date=${date}`)
        .then((res) => res.text())
        .then((html) => {
            document.querySelectorAll(".calendarEvents").forEach(el => el.innerHTML = html)
        })
        .catch((err) => {
          console.error("Failed to fetch events:", err);
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        getEventsByDate(new Date())
    });
</script>