<div class="w-full relative flex flex-col gap-[10px] px-3 py-3 pb-6 col-span-1">
    {% for tag in webinar.tags.all %}
        <div class="flex absolute top-[20px] left-[20px] justify-center items-center text-[10px] text-white rounded-[16px] py-1 px-2 w-fit h-4
                                                        {% if tag.slug == 'free' %}
                                                          bg-[#3F8CFF]
                                                        {% elif tag.slug == 'certificate' %}
                                                          bg-[#AF3FFF]
                                                        {% elif tag.slug == 'live' %}
                                                          bg-[#DF3131]
                                                        {% endif %}"
        >
            {% if tag.slug == 'free' %}
                Бесплатно
            {% elif tag.slug == 'certificate' %}
                Сертификат
            {% elif tag.slug == 'live' %}
                Только в прямом эфире
            {% endif %}
        </div>
    {% endfor %}
    {% if webinar.image %}
        <img
                alt="photo"
                class="w-full h-auto"
                src={{ webinar.image.url }}
        />
    {% endif %}
    <div class="flex flex-col items-start justify-start gap-[10px]">
        <text class="font-bold text-[20px]">{{ webinar.title }}</text>
        <text class="text-sm text-[#787878]">{{ webinar.description|safe }}</text>

    </div>
    <div class="flex flex-row justify-between w-full items-center gap-[10px]">
        <text class=" text-[14px] text-[#787878]">{{ webinar.duration }}</text>
        <text class="text-sm text-[14px] text-[#787878]">{{ webinar.date|date:"d.m.Y" }}</text>
    </div>
    <div class="flex flex-row justify-start items-center">
        {% if webinar.author_avatar %}
            <img height="32" width="32" class="mt-1"
                 src="{{ webinar.author_avatar.url }}" alt="author avatar"/>
        {% endif %}
        <div class="flex flex-col ml-[9px] gap-0.5">
            <text class="font-[700] text-sm">{{ webinar.author_full_name }}</text>
            <text class="text-sm">{{ webinar.author_job_title }}</text>
        </div>
    </div>
</div>
